@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg{
    background-color: hsla(90, 4%, 11%, 1);
}




    .ff-main{
        font-family: 'Raleway', sans-serif;
    }     
    .ff-secondary{  
       font-family:  'Open Sans', sans-serif;
    } 
    
    .clr-main:hover{
        background-color: hsla(0, 100%, 66%, 1);
        
    }

